@model FlightBooking.Models.FBVM


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking History</title>
    <link rel="stylesheet" href="~/css/cancel.css">
</head>
<body>
    <div class="container">
        <h1>Booking History</h1>
        <table>
            <thead>
                <tr>
                    <th>Booking Id</th>             
                    <th>Username</th>             
                    <th>Flight Id</th> 
                    <th>Phone Number</th>
                    <th>Email Id</th>
                    <th>DOB</th>
                    <th>Departure Location</th>
                    <th>Destination Location</th>
                    <th>Travellers</th>
                    <th>Departure Date</th>
                    <th>Price</th>
                    <th>Journey Duration</th>
                    <th>Action</th>
                    <th>Status</th>
                </tr>

                @foreach (var item in Model.FbookingFinalPsList)
                {
                   <tr>
                    <td>@item.BookingId</td>
                    <td>@item.Username</td>
                    <td>@item.FlightId</td>
                    <td>@item.PhoneNo</td>
                    <td>@item.Email</td>
                    <td>@item.Dob</td>
                    <td>@item.DepartureAp</td>
                    <td>@item.DestinationAp/td>
                    <td>@item.Traveller</td>
                    <td>@item.JourneyDate</td>
                    <td>@item.Price</td>
                    <td>@item.JourneyDuration</td>
                    <td class="text-center">
                        <form asp-controller="Cancel" asp-action="doCancel" asp-route-id="@item.BookingId" asp-route-id="@item.Username" asp-route-id="@item.PhoneNo" asp-route-id="@item.Dob" asp-route-id="@item.Traveller" asp-route-id="@item.JourneyDate" asp-route-id="@item.Price">
                            <input type="hidden" name="flightId" value="@item.FlightId" asp-for="@Model.FlightId" />
                            <button type="submit" class="book-btn">Cancel</button>
                        </form>
                    </td>
                    <td>
                        @if (item.BookingStatus == "A")
                        {
                            <span style="color: green;">Active</span>
                        }
                        else
                        {
                            <span style="color: red;">Inactive</span>
                        }
                    </td>
                     </tr>
                }
                </thead>
                <tbody>
                    <!-- Dynamically populated rows will appear here -->
                </tbody>
            </table>
        </div>

        <script src="~/js/cancel.js"></script>
    </body>
</html>

